@import '../styles/colors.scss';

.control_painel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    flex-grow: 1;

    margin: 20px;

    background-color: $background-secondary-color;
}