@import "../../../styles/colors.scss";
@import "../../../styles/spaces.scss";

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    margin: $outside-gap;
    padding: $inside-gap;
    
    width: clamp(300px, 30vw, 380px);
    height: fit-content;
    
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background-color: $background-secondary-color;

    hr {
        border: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right,
                rgba(120, 120, 120, 0),
                rgba(120, 120, 120, 0.75),
                rgba(120, 120, 120, 0));
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        padding: $outside-gap;

        h2 {
            color: $secondary-color;
            text-align: center;
            font-size: 1rem;
            font-weight: 200;
            margin-bottom: 20px;
        }

        button {
            margin-bottom: 20px;
        }

        .link {
            color: #5065db;
            text-transform: lowercase;
            text-decoration: none;
            text-align: center;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}